@model ProductAttributeMappingModel

<form method="post" asp-action="EditProductAttributeValue">
    <h3 class="text-info">Thêm thuộc tính vào sản phẩm</h3>
    <input asp-for="Id" class="form-control" hidden/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Chọn thuộc tính cho sản phẩm</label>
        <select class="form-control" id="exampleFormControlSelect1" asp-items="Model.AvailableProductAttributes" asp-for="ProductAttributeId">
        </select>
        <input hidden class="form-control" asp-for="ProductId" value="@Model.ProductId"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().WeightAdjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().IsPreSelected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValues.FirstOrDefault().PictureId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AttributeValues != null)
        {
            @foreach (var item in Model.AttributeValues)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeightAdjustment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPreSelected)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td><p class="text-center">No data available</p></td>
            </tr>
        }
    </tbody>
</table>*@
