@model List<Banner>

@if(Model is not null && Model.Count > 0)
{
    <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
        <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                                            &quot;nav&quot;: false,
                                            &quot;dots&quot;: true,
                                            &quot;responsive&quot;: {
                                                &quot;768&quot;: {
                                                    &quot;nav&quot;: true,
                                                    &quot;dots&quot;: false
                                                }
                                            }
                                        }">
            <!-- End .intro-slide -->
            <!-- End .intro-slide -->
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1557px, 0px, 0px); transition: all 0s ease 0s; width: 4673px;">
                    @foreach (var banner in Model)
                    {
                        <div class="owl-item cloned" style="width: 778.688px;">
                            <div class="intro-slide">
                                <figure class="slide-image">
                                    <picture>
                                        <source media="(max-width: 480px)" srcset="@banner.Picture.UrlPath">
                                        <img src="@banner.Picture.UrlPath" alt="@banner.Picture.UrlPath">
                                    </picture>
                                </figure><!-- End .slide-image -->

                                <div class="intro-content">
                                    <h3 class="intro-subtitle text-primary">@Html.Raw(@banner.Subtitle)</h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title">
                                        @Html.Raw(@banner.Title)
                                    </h1><!-- End .intro-title -->
                                    @{
                                        var priceWholePart = Math.Floor(banner.Price);
                                        var priceFractionPart = (banner.Price - priceWholePart).ToString().Split('.').Last();
                                    }

                                    @if (banner.Price > 0)
                                    {
                                        <div class="intro-price">
                                            <sup>Today:</sup>
                                            <span class="text-primary">
                                                @priceWholePart
                                                @if (!string.IsNullOrEmpty(priceFractionPart) && priceFractionPart != "0")
                                                {
                                                    <sup>.@priceFractionPart</sup>
                                                }
                                            </span>
                                        </div>
                                        <!-- End .intro-price -->
                                    }

                                    <a href="@banner.ButtonLink" class="btn btn-primary btn-round">
                                        <span>@banner.ButtonLabel</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .intro-content -->
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"><i class="icon-angle-left"></i></button>
                <button type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i></button>
            </div>
            <div class="owl-dots disabled"></div>
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div>

    <!-- End .intro-slider-container -->
}