@* @model ProductAttributeMappingModel

<p>
    <a href="@Url.Action("ProductAttributeMappingCreate", "Product", new { productId = Model.ProductId })">Tạo mới</a>
</p>

<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12" style="overflow-x: auto;">
            <table class="table table-bordered dataTable" id="dataTable-pam" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th>
                            @Html.DisplayNameFor(model => model.ProductAttributeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TextPrompt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsRequired)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayOrder)
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete  
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        LoadTable();
    });

    $('#dataTable-pam').on('click', '.deletePamBtn', function () {
        var pamId = $(this).data('pamid'); // Lấy pamId từ thuộc tính data của nút

        // Hiển thị hộp thoại "confirm"
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("DeleteProductAttributeMapping", "Product")",
                type: "POST",
                data: {pamId: pamId},
                success: function (response) {
                    // Xử lý phản hồi từ API
                    if (response.success) {
                        LoadTable();
                    } else {
                        alert(response.message); // Hiển thị thông báo lỗi
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Hiển thị lỗi trong console
                    alert("Đã xảy ra lỗi trong quá trình xóa liên kết thuộc tính với sản phẩm."); // Hiển thị thông báo lỗi
                }
            });
        }
    });

    function LoadTable(){
        $('#dataTable-pam').DataTable().destroy();
        $('#dataTable-pam').DataTable({
            "ajax": {
                "url": "@Url.Action("GetListProductMapping","Product", new { productId = Model.ProductId})",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "productAttributeName" },
                { "data": "textPrompt" },
                {
                    "data": "isRequired",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<input type="checkbox" disabled="disabled" ' + (data ? 'checked="checked"' : '') + '/>';
                        }
                        return data;
                    }
                },
                { "data": "displayOrder" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        if (type === "display") {
                            var editUrl = "@Url.Action("EditProductAttributeMapping", "Product", new { productAttributeMappingId = "__id__" })".replace("__id__", row.id);
                            return '<a class="btn btn-info" href="' + editUrl + '">Edit</a>';
                        }
                        return data;
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {

                        var pamId = row.id
                        if (type === "display") {
                            return '<button class="btn btn-danger d-flex justify-content-center align-items-center deletePamBtn" data-pamid="' + pamId + '">Delete</button>';
                        }
                        return data;
                    }
                }
            ]
        });
    }
</script>
 *@