@model ProductPictureModel

<div class="border border-primary" hidden>
    <input class="collapse"
           type="file"
           id="selectfileupload"
           onchange="AutoUploadPhoto()"
           multiple="multiple"
           accept=".jpg, .png" />

    @*<span class="btn btn-primary" onclick="ClickButtoUpload()">Upload Hình ảnh</span>*@


    <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@Model.ProductId">
    </div>

</div>

<p class="d-flex justify-content-between">
    <span class="btn btn-primary" onclick="ClickButtoUpload()">Upload Hình Ảnh</span>
    <span class="btn btn-danger" onclick="DeleteAllImages()">Xóa Tất Cả Ảnh</span>
</p>


@await Html.PartialAsync("_Table", Model.DataTable)

<script>
    var tableId = "#@Model.DataTable.TableId";
    var url = "@Model.DataTable.GetDataUrl";
    var columns = @Html.Raw(Json.Serialize(Model.DataTable.Columns));

    function AutoUploadPhoto() {
        var formFiles = $("#selectfileupload").prop("files");
        var formData = new FormData();
        for (var i = 0; i < formFiles.length; i++) {
            formData.append("formFiles", formFiles[i]);
        }
        var id = $("#box-photo-upload").data("id");

        $.ajax({
            url: "@Url.Action("AddProductImage", "Product", new {productId = Model.ProductId})",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                // Xử lý kết quả thành công
                console.log(result);
                $(tableId).DataTable().ajax.reload();
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi
                console.error(error);
            }
        });
    }
    function ClickButtoUpload() {
        $("#selectfileupload").click();
    }

    function DeleteAllImages() {
        // Hiển thị hộp thoại "confirm"
        if (confirm("Bạn có chắc chắn muốn xóa tất cả ảnh?")) {
            $.ajax({
                url: "@Url.Action("DeleteAllPhotos", "Product")", // Đường dẫn xử lý yêu cầu xóa tất cả ảnh
                type: "POST",
                data: { productId: @Model.ProductId }, // Dữ liệu gửi kèm (nếu cần)
                success: function (response) {
                    // Xử lý phản hồi từ API
                    if (response.success) {
                        $(tableId).DataTable().ajax.reload();
                    } else {
                        alert(response.message); // Hiển thị thông báo lỗi
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Hiển thị lỗi trong console
                    alert("Đã xảy ra lỗi trong quá trình xóa ảnh."); // Hiển thị thông báo lỗi
                }
            });
        }
    }

</script>
