@model UserModel

@{
    ViewData["Title"] = "Danh sách người dùng";
}

<h1>User List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTable-users">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        LoadTable();
    });

    $('#dataTable-users').on('click', '.deleteUserBtn', function () {
        var userId = $(this).data('userid'); // Lấy categoryid từ thuộc tính data của nút
        // Hiển thị hộp thoại "confirm"
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("DeleteUser", "User")",
                type: "POST",
                data: { id: userId },
                success: function (response) {
                    // Xử lý phản hồi từ API
                    if (response.success) {
                        LoadTable();
                    } else {
                        alert(response.message); // Hiển thị thông báo lỗi
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Hiển thị lỗi trong console
                    alert("Đã xảy ra lỗi ."); // Hiển thị thông báo lỗi
                }
            });
        }
    });
    $('#dataTable-users').on('click', '.banUserBtn', function () {
        var userId = $(this).data('userid'); // Lấy categoryid từ thuộc tính data của nút
        // Hiển thị hộp thoại "confirm"
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            $.ajax({
                url: "@Url.Action("BanUser", "User")",
                type: "DELETE",
                data: { id: userId },
                success: function (response) {
                    // Xử lý phản hồi từ API
                    if (response.success) {
                        LoadTable();
                    } else {
                        alert(response.message); // Hiển thị thông báo lỗi
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Hiển thị lỗi trong console
                    alert("Đã xảy ra lỗi ."); // Hiển thị thông báo lỗi
                }
            });
        }
    });
    function LoadTable() {
        $('#dataTable-users').DataTable().destroy();
        $('#dataTable-users').DataTable({
            ajax: {
                url: "@Url.Action("GetAll", "User")",
                type: "GET",
                datatype: "json",
            },
            columns: [
                { data: "firstName" },
                { data: "lastName" },
                { data: "email" },
                { data: "userName" },
                { data: "phoneNumber" },
                { data: "IsBanned" },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (type === "display") {
                            var editUrl = "@Url.Action("Edit", "User", new { id = "__id__" })".replace("__id__", row.id);
                            return '<a class="btn btn-info" href=" '+ editUrl +'" >Edit</a>';
                        }
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        var userId = row.id
                        if (type === "display") {
                            return '<button class="btn btn-danger d-flex justify-content-center align-items-center deleteUserBtn" data-userid="' + userId + '">Delete</button>';
                        }
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        var userId = row.id
                        if (type === "display") {
                            return '<button class="btn btn-danger d-flex justify-content-center align-items-center banUserBtn" data-userid="' + userId + '">Ban</button>';
                        }
                        return data;
                    }
                }
            ]
        });
    }
</script>
