@* @model PagingViewModel


<div class="row">
    <div class="col-sm-12 col-md-5">
        @{
            var start = (Model.MetaData.CurrentPage - 1) * Model.MetaData.PageSize + 1;
            var end = start + Model.MetaData.PageSize - 1;
            if (end > Model.MetaData.TotalCount)
            {
                end = Model.MetaData.TotalCount;
            }
        }
        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing @start to @end of @Model.MetaData.TotalCount entries</div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination">
                @{
                    int index = 0;
                    var maxPageNumbers = 5; // Số lượng trang hiển thị tối đa
                    var startPageNumber = (Model.MetaData.CurrentPage - 2) <= 1 ? 1 : (Model.MetaData.CurrentPage - 2);
                    var endPageNumber = (Model.MetaData.CurrentPage + 2) >= Model.MetaData.TotalPages ? Model.MetaData.TotalPages : (Model.MetaData.CurrentPage + 2);
                    var showEllipsesStart = startPageNumber > 1;
                    var showEllipsesEnd = endPageNumber < Model.MetaData.TotalPages;
                }
                @if (Model.MetaData.TotalPages > 1)
                {
                    <li class="paginate_button page-item previous @(Model.MetaData.HasPrevious ?"":"disabled")" id="dataTable_previous">
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { pageNumber = 0, pageSize = ViewBag.PageSize, searchText = ViewBag.SearchText, orderBy = ViewBag.OrderBy })" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Start</a>
                    </li>

                    <li class="paginate_button page-item previous @(Model.MetaData.HasPrevious ?"":"disabled") " id="dataTable_previous">
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { pageNumber = Model.MetaData.CurrentPage - 1, pageSize = ViewBag.PageSize, searchText = ViewBag.SearchText, orderBy = ViewBag.OrderBy })" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>

                    @if (showEllipsesStart)
                    {
                        <li class="paginate_button page-item disabled"><span class="page-link">&hellip;</span></li>
                    }
                    @for (int i = startPageNumber; i <= endPageNumber; i++)
                    {
                        <li class="paginate_button page-item @(i == Model.MetaData.CurrentPage ? "active" : "")">
                            <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { pageNumber = @i, pageSize = ViewBag.PageSize, searchText = ViewBag.SearchText, orderBy = ViewBag.OrderBy })" aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                        </li>
                        index = i;
                    }
                    @if (showEllipsesEnd)
                    {
                        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
                    }
                    <li class="paginate_button page-item next @(Model.MetaData.HasNext ? "" : "disabled")" id="dataTable_next">
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { pageNumber = Model.MetaData.CurrentPage + 1, pageSize = ViewBag.PageSize, searchText = ViewBag.SearchText, orderBy = ViewBag.OrderBy })" aria-controls="dataTable" data-dt-idx="@index + 1" tabindex="0" class="page-link">Next</a>
                    </li>
                    <li class="paginate_button page-item next @(Model.MetaData.HasNext ? "" : "disabled")" id="dataTable_next">
                        <a href="@Url.Action(Model.ActionName, Model.ControllerName, new { pageNumber = Model.MetaData.TotalPages, pageSize = ViewBag.PageSize, searchText = ViewBag.SearchText, orderBy = ViewBag.OrderBy })" aria-controls="dataTable" data-dt-idx="@index + 2" tabindex="0" class="page-link">End</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<script>
    $('.pagination').on('click', 'a', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        getPage(url);
    });

    function getPage(url) {
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $('@Model.dataHtml').html($(data).find('@Model.dataHtml').html());
                $('#dataTable_info').html($(data).find('#dataTable_info').html());
                $('.pagination').html($(data).find('.pagination').html());
            }
        });
    }
</script> *@